fuentes/Bll.TierOne/Service References/BackendServices/BackendService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Backend" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Backend" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1374/BackendService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bll.Entities" />
  <xs:import schemaLocation="http://localhost:1374/BackendService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="BackendDTOOfEntityExceptionQNgybuyY">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BackendDTOOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Backend" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Entity" Namespace="http://schemas.datacontract.org/2004/07/Bll.Entities" />
          <GenericParameter Name="Exception" Namespace="http://schemas.datacontract.org/2004/07/System" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bll.Entities" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfEntity" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exceptions" nillable="true" type="q2:ArrayOfException" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackendDTOOfEntityExceptionQNgybuyY" nillable="true" type="tns:BackendDTOOfEntityExceptionQNgybuyY" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>