fuentes/Bll.TierOne/Service References/BackendDuplex/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Protozoo.Core.Entities" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Protozoo.Backend" />
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cmd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Protozoo.Core.Entities" minOccurs="0" name="ProcessResult" nillable="true" type="q1:Entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Protozoo.Backend" minOccurs="0" name="msg" nillable="true" type="q2:BackendDTOOfEntityExceptionwB_PKy7mS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>